.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px;
  background: #d3ffb7; /* デザインの薄緑に寄せ */
}
.inner {
  max-width: 980px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  color: #f80;

  font-weight: 600;
}

a {
  color: #f80;
}
