.header {
  background: linear-gradient(
    90deg,
    #ee3c1d 0%,
    var(--color-orange) 0.01%,
    var(--color-green) 100%
  );
}

.inner {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  max-width: 980px;
  padding: 12px 16px;
}

.text {
  display: grid;
  gap: 4px;
}

.title {
  text-shadow: 0 4px 4px var(--color-gray);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  color: var(--color-orange);
  font-size: 50px;
  padding: 0;
  margin: 0;
}

.subtitle {
  color: #f4f4f4;

  text-shadow: 7px 4px 4px var(--color-gray);

  font-size: 32px;
  margin: 0;
  padding: 0;
}
