.header {
  background: linear-gradient(90deg, #ee3c1d 0%, #ff9011 0.01%, #d4ffb5 100%);
}

.inner {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  max-width: 980px;
  padding: 12px 16px;
}

.text {
  display: grid;
  gap: 4px;
}

.title {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  color: #f80;
  font-size: 50px;
  padding: 0;
  margin: 0;
}

.subtitle {
  color: #f4f4f4;

  text-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);

  font-size: 32px;
  margin: 0;
  padding: 0;
}
